/**{
	box-sizing: border-box;
}*/
body{
	max-width: 1000px;
	margin:0px auto;
	padding:0px
	border: 0px;
	background-color: #ffff;
		position: relative;
}
.container{
	max-width: 960px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
}
li{
	list-style: none;
}
.clear{
	clear: both;
}
.circle {
			width: 20px;
			height: 20px;
			background: #d2d2d2;
			text-align: center;
			padding: 7px;
			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
			position: relative;
			margin-top: 4px;
		}
		.circle:hover{
			background:#c30;
			cursor: pointer;
		}
		.circle span{
			position: absolute;
			top: 10px;
			right: 9px;
		}


		/*header*/
#header-top{
	margin: 0px auto;
	padding: 0px;
	height: 50px;
	position: relative;
	background: #ffff;
	color: #97455f;
	    border-bottom: 2px solid rgb(151,69,95);
}
 #header-top-left{
 	position: absolute;
 	top: -15px;
	float: left;
}
#header-top-left ul{
	padding-left: 20px;
}
 #header-top-left li{
	display: inline;
	float: left;
	margin-right: 10px;
	padding-bottom: 10px;

}


 #header-top-right{
	float: right;
}
#header-top-right li{
	float: left;
	
	
}
 #header-top-right a{
	color: #97455f;
	text-decoration: none;
	border-right: 1px solid #97455f;
	padding:0px 6px 0px 6px; 

}
/*#header-top-right a:last-child{
	border-right-style: none;
}*/

#header-bottom{
	height: 270px;
	background-color: #ccc;
	z-index: 2;
	position: relative;
}
#header-bottom img{
	margin-top: 63px;
	float: left;
}
#header-bottom .image-plus{
	position: absolute;
	top: -65px;
	right: 0px;
}
#header-bottom form{
	float: right;
	margin-top: 58px;
}
#header-bottom input[type="text"]{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 31px;
	width: 218px;
	padding: 2px 5px;
	margin-right: -6px;
	border: 0;

}
 #header-bottom button[type="submit"]{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 35px;
	width: 76px;
	background-color: #97455f;
	color: #ffff;
	font-weight: bold;
	border: 0;	
}
/*HEADER*/
#categoriea ul{
	/*overflow: hidden;
	margin-top: 150px;
	height: 50px;
	background: #97455f;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background: #97455f;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	    position: absolute;
    top: 140px;
    width: 100%;
}
#categoriea li{
	float: left;
/*	line-height: 50px;
	padding: 0px;
	padding-right: 16px;
	padding-left: 16px;*/

}
#categoriea li a{
	/*text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;*/
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
#categoriea li a:hover{
	background: #6a3144;
}
/*NAV*/

/*SECTION*/
section{
	width: 960px;
	height: 1000px;
	margin:0px auto;
	background: #ffff;
	z-index: 3;
	position: absolute;
	top:236px;
	left: 20px;

}
/*END-SECTION*/
/*SLIDER*/
.container-section{
	width: 900px;
	margin: 0px auto;
}
#slider img{
	max-width: 900px;
	height: 360px;
	position: relative;
}
#slider{
	margin-top: 30px;
}
#slider ul{
	padding-left: 400px;
	margin-top: 20px;
}
#slider ul li img{
	width: 20px;
	height: 17px;
}
#slider ul li{
	float: left;
}

/*SLIDER*/
/*SECTION-MAIN*/
#section-main{

	margin-top: 85px;
	border-top: 5px solid #ebebeb;
	position: relative;
}
#section-main h2{
	    text-align: center;

    width: 275px;
    background-color: #ffff;
    font-family: georgia;
    position: absolute;
    top: -37px;
    left: 300px;
}

#section-main .box{
	font-size: 14px;
	padding: 0px;
	margin-top: 45px;
	float: left;
	width: 30%;
	margin-right: 30px;
}
#section-main .box img{
	float: left;
	width: 64px;
	height: 64px;
}
#section-main .box p{
	margin-left: 74px;
	color: #999999;
}
#section-main .box h3{
	margin-left: 74px;
	margin-top: 0px;
	color: #97455f;
}
/*END-SECTION-MAIN*/
/*SECTION-EXTRA*/
#section-extra {
	margin-top: 50px;
}
.section-extra-box{
	padding-top: 30px;
	float: left;
	width: 47%;
	border-top: 5px solid #ebebeb;
	margin-right: 27px;
	position: relative;
	font-size: 14px;

}
.section-extra-box p{
	color: #999999;
}
.section-extra-box a{
	color: #97455f;
	text-decoration: none;
}
#section-extra .section-extra-box h4{
	    text-align: center;
    position: absolute;
    width: 200px;
    background-color: #ffff;
    top: -34px;
    left: 112px;
}
#section-extra .section-extra-box img{
	float: left;
}
#section-extra #section-extra-box-left img{
	width: 128px;
	height: 128px;
	margin-right: 18px;
}
#section-extra #section-extra-box-right img{
		margin-right: 18px;
}
/*END-SECTION-EXTRA*/
/*contact*/
#contact{
	background: #97455f;
	height: 106px;
	border-radius: 8px;
	color: #ffffff;
	position: relative;
	width: 900px;
	margin-top: 50px;

}
#contact #contact-left{
	float: left;
}
#contact #contact-left h1{
	margin-top: -5px;
	padding-top: 22px;
	padding-left: 20px;
	margin-bottom: 30px;
}
#contact #contact-left p{
	margin-top: -23px;
	padding-left: 20px;
}
#contact #contact-right h1{
	border: 1px solid #ffff;
	background: #ffff;
	color: #97455f;
	padding: 10px;
	border-radius: 8px;
	position: absolute;
	bottom: 7px;
	right: 30px;
}

/*END-CONTACT*/
/*FOOTER*/
footer{
	width: 100%;
	background: #ebebeb;
	margin-top: 50px;
	border-top: 4px solid #d2d2d2;
	padding-top: 20px;
	font-size: 14px;
	position: absolute;
    top: 1404px;

}
footer #footer-top {
	background: #ebebeb;
	margin-bottom: 30px;
}
footer #footer-top p{
	color: #999999;
}
footer #footer-top{

	float: left;

}
footer #footer-top #footer-top-left{
	width: 55%;
	float: left;
	padding: 0px;
} 
footer #footer-top #footer-top-left .box{
	margin-bottom:35px;
}
/*footer #footer-top-right{
width: 30%;
}*/
footer #contact-us{
	position: absolute;
	top: 0px;
	right: 0px;
}
footer #footer-top-left img{
	float: left;
	width: 95px;
	height: 95px;
	margin-right: 20px;
	border: 2px solid #ffff;
}
footer #footer-top form{
	margin-top: -10px;
}
footer #footer-top button[type="submit"]{
	height: 30px;
	width: 80px;
	background-color: #97455f;
	color: #ffff;
	font-weight: bold;
	border-radius: 6px;
	margin: 10px;
	margin-left: 40px;
	border: 0;
	margin-top: -5px;
}
footer #footer-top input[type="text"], input[type="email"]{
	width: 225px;
	height: 30px;
	border-radius: 8px;
	margin: 10px;
	padding-left: 10px;
	margin-left: 40px;
	border: 0;
}
footer #footer-top textarea{
	width: 225px;
	height: 110px;
	border-radius: 8px;
	margin: 10px;
	margin-left: 40px;
	border: 0;
	padding-top: 3px;
	padding-left: 10px;
}
footer #footer-bottom{
	border-top: 3px solid #ccc;
	background: #ebebeb;
}
footer #footer-bottom {
	height: 60px;
}
footer #footer-bottom p{
	line-height: 40px;
	margin-left: 20px;
	color: #999999;
}
footer #footer-bottom span{
	float: right;
	display: inline;
	margin-right: 20px;
}
/*END-FOOTER*/

/*Reqponsive*/
@media(max-width: 580px){
		/*header #header-top, header #header-top-right, header #header-top-left, header #header-bottom, #header-bottom form, #content, #categoriea li, #slider, #slider img{
			float: none;
			text-align: center;
			width: 100%;

		}*/
		.container{
			width: 100%;
			float: none;
		}
		header{
			width: 100%;
		}
		body{
			position: relative;
		}
		#header-top-left{
			width: 50%;
			float: left;
		}
		#header-top-right{
			width: 50%;
			
		}
		#header-top-right ul li{
			font-size: 11px;
			font-weight: bold;
		}
		#header-bottom .image-logo{
			width: 45%;
			float: left;
		}
		#header-bottom form{
			width: 55%;
			position: absolute;
			left: 300px;
		}
		#header-bottom form input[type=text]{
			width: 150px;
			height: 20px;
		}
		#header-bottom form button[type=submit]{
			height: 24px;
		}
		section{
			position: absolute;
			top: 510px;
		}
		#section-main{
			border-top: none;
		}
		#section-main h2{
			position: absolute;
			left: 0px;
		}
		#slider img{
			width: 50%;
			padding-left: 0px;
		}
		#section-main .box{
			box-sizing: border-box;
			width: 50%;
		}
		#section-extra{
			width: 580px;
		}
	#categoriea ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 3px;
		text-align: left;
	}
	footer #footer-top-left{
		box-sizing: border-box;
		width: 100%;
		padding: 5px;
	}
	footer #footer-top-left .box{
		width: 100%;
	}
	#contact{
		width: 50%;
		box-sizing: border-box;
		height: 150px;
		position: relative;
	}
	#contact-right{
		position: absolute;
		left: 0px;
		bottom: -10px;
		width: 400px;
	}
	footer{
		position: absolute;
		top: 2400px;
	}
	}