body{
	width: 1000px;
	margin:0px auto;
	padding:0px
	border: 0px;
	background-color: #ffff;
	position: relative;
}
li{
	list-style: none;
}
.clear{
	clear: both;
}
.circle {
			width: 30px;
			height: 30px;
			background: #d2d2d2;
			text-align: center;
			padding: 5px;
			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
			position: relative;
		}
		.circle:hover{
			background:#c30;
			cursor: pointer;
		}
		.circle span{
			position: absolute;
			top: 20px;
			right: 10px;
		}


		/*header*/
#header-top{
	margin: 0px auto;
	padding: 0px;
	height: 50px;
	position: relative;
	background: #ffff;
	color: #97455f;
}
 #header-top-left{
 	position: absolute;
 	top: -15px;
	float: left;
}
 #header-top-left li{
	display: inline;
	float: left;
	margin-right: 10px;
	padding-bottom: 10px;

}

 #header-top-right{
	float: right;
}
#header-top-right li{
	float: left;
	
	
}
 #header-top-right a{
	color: #97455f;
	text-decoration: none;
	border-right: 1px solid #97455f;
	padding:0px 6px 0px 6px; 

}


#header-bottom{
	height: 270px;
	background-color: #ccc;
	z-index: 2;
}
#header-bottom img{
	margin-top: 63px;
	float: left;
}
#header-bottom form{
	float: right;
	margin-top: 58px;
}
#header-bottom input[type="text"]{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 35px;
	width: 218px;

}
.button-1{
	margin-bottom: 20px;
}
 #header-bottom button[type="submit"]{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 38px;
	width: 75px;
	background-color: #97455f;
	color: #ffff;
	font-weight: bold;
}
/*HEADER*/
#content{
	width: 960px;
	height: 1000px;
	background-color: #ffff;
	margin:0px auto;
	position: absolute;
	top:230px;
	left: 20px;

}
/*NAV*/
#categoriea ul{
	/*overflow: hidden;
	margin-top: 150px;
	height: 50px;
	background: #97455f;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background: #97455f;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#categoriea li{
	float: left;
/*	line-height: 50px;
	padding: 0px;
	padding-right: 16px;
	padding-left: 16px;*/

}
#categoriea li a{
	/*text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;*/
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}
#categoriea li a:hover{
	background: #6a3144;
}
/*NAV*/
/*SLIDER*/
.container{
	width: 900px;
	margin: 0px auto;
}
#slider img{
	width: 100%;
	height: 360px;
}
#slider{
	margin-top: 30px;
}

/*SLIDER*/

/*CONTENT*/
#xxx{
	padding-top: 50px;
	margin: 0px auto;
	width: 900px;
}
#xxx h1{
	text-align: center;
	/*background: url(../image/line.png) no-repeat right;*/
	position: relative;
}
#xxx h1 span{
	display: block;
	height: 7px;
	width: 290px;
	background-color: #ccc;
	position: absolute;
	top: 16px;
	left: 3px;
}
#xxx h1 .span1{
	height: 7px;
	width: 290px;
	background-color: #ccc;
	position: absolute;
	top: 16px;
	left: 612px;
}
#title1 .box{
	width: 30%;
	float: left;
	padding: 10px;

}
#title1 .box img{
	float: left;
	margin-right: 3px;
	width: 64px;
	height: 64px;
}
#title1 .box h3{
	margin-top: 0px;
	
}

.box h3{
	color: #97455f;
}
#title2 h4{
	text-align: center;
}
#title2 #title2-left{
	width: 45%;
	float: left;
	padding: 10px;
	position: relative;

}
#title2 #title2-left a{
	text-decoration: none;
	padding-left: 130px;
	color: #97455f;
}
#title2 #title2-left img{
	float: left;
	margin-right: 5px;
	width: 128px;
	height: 128px;
}
#title2 #title2-left span{
	display: block;
	height: 7px;
	width: 120px;
	background-color: #ccc;
	position: absolute;
	top: 37px;
	left: 0px;
}
#title2 #title2-left .span1{
	display: block;
	height: 7px;
	width: 120px;
	background-color: #ccc;
	position: absolute;
	top: 37px;
	left: 300px;
}

#title2 #title2-right{
	width: 45%;
	float: right;
	padding: 10px;
	position: relative;

}
#title2 #title2-right .span1{
	display: block;
	height: 7px;
	width: 120px;
	background-color: #ccc;
	position: absolute;
	top: 37px;

}
#title2 #title2-right .span2{
	display: block;
	height: 7px;
	width: 100px;
	background-color: #ccc;
	position: absolute;
	top: 37px;
	left: 300px;
}
#title2 #title2-right img{
	float: left;
	margin-right: 5px;
	width: 60px;
	height: 50px;
}
#title2 #title2-right a{
	text-decoration: none;
	color: #97455f;
}

/*contact*/
#contact{
	background: #97455f;
	height: 106px;
	border-radius: 8px;
	color: #ffffff;
	position: relative;
	width: 900px;
	margin:0px auto;

}
#contact #contact-left{
	float: left;
}
#contact #contact-left h1{
	margin-top: -5px;
	padding-top: 22px;
	padding-left: 20px;
	margin-bottom: 30px;
}
#contact #contact-left p{
	margin-top: -23px;
	padding-left: 20px;
}
#contact #contact-right h1{
	border: 1px solid #ffff;
	background: #ffff;
	color: #97455f;
	padding: 10px;
	border-radius: 8px;
	position: absolute;
	bottom: 0px;
	right: 30px;
}

/*END-CONTENT*/
/*FOOTER*/
footer{
	background: #ebebeb;
	margin-top: 50px;
	border-top: 4px solid #d2d2d2;
	padding-top: 20px;
	font-size: 14px;
}
footer #footer-top {
	background: #ebebeb;
}
footer #footer-top button[type="submit"]{
	height: 35px;
	width: 80px;
	background-color: #97455f;
	color: #ffff;
	font-weight: bold;
	border-radius: 8px;
	margin: 10px;
}
footer #footer-top input[type="text"], input[type="email"]{
	width: 200px;
	height: 31px;
	border-radius: 4px;
	margin: 10px;
	padding-left: 10px;
}
footer #footer-top textarea{
	width: 200px;
	border-radius: 4px;
	margin: 10px;
	padding-left: 10px;
}
footer #footer-top .xxx{
	float: left;
	width: 30%;
	margin-right: 20px;
	/*height: 355px;*/
}
footer #footer-top-1{
	margin-left: 10px;
	margin-bottom: 20px;
	
}
footer #footer-top-1 img{
	float: left;
	margin-right: 5px;
	width: 95px;
	height: 95px;
	border: 2px solid #ccc;
}
footer #footer-top-2 p{
	
}
footer #footer-top-3{
	}
footer #footer-bottom{
	border-top: 3px solid #ccc;
	background: #ebebeb;
	
}
footer #footer-bottom p{
	line-height: 40px;
	margin-left: 20px;
	color: #999999;
}
footer #footer-bottom span{
	float: right;
	display: inline;
	margin-right: 20px;
}
/*END-FOOTER*/


/*REPONSIVE*/

/*END-REPONSIVE*/